
.summer-beer-logo {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -15px;
}

.summer-beer-logo img {
    width: 75%;
}

.sb-navbar {
    padding-bottom: 0px;
}

.sb-navbar-aritcle {
    padding-bottom: 0px;
}

.widget-sidebar .list-unstyled li span {
    margin-left: 15px;
}

.beer-well {
    padding-bottom: 0px;
    background-color: white;
}
