 <!-- begin:article -->
        <div class="col-md-4">
          <!-- begin:about -->
          <div class="content-article well beer-well">
            <!-- begin:bio -->
            <div class="row">
              <div class="col-md-12">
                  <img src="static/img/image-blog-post-big-01.jpg" class="img-responsive img-rounded" alt="{{ beer.name }} at the beach" title="{{ beer.name }} at the beach">
                <br>
                <div class="label-title text-center">
                    <h3>{{ beer.name }}</h3>
                </div>

                <p class="beer-review"><strong class="first-paragraph">{{ beer.review | slice:":1" }}</strong>{{ beer.review }}</p>
              </div>
            </div>
            <!-- end:bio -->
            <hr>
            <!-- begin:info -->
            <div class="widget-sidebar">
              <ul class="list-unstyled">
                  <li><strong>Brewery</strong> <br><span><a href="{{ beer.brewery_website }}">{{ beer.brewery }}</a></span></li>
                  <li><strong>Style</strong> <br><span>{{ beer.style }}</span></li>
                  <li><strong>ABV</strong> <br><span>{{ beer.abv }}%</span></li>
              </ul>
            </div>
            <!-- end:info-->
            <!-- begin:skill -->
            <div class="row">
              <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-secondary" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: {{ beer.hoppiness }}%;">
                      Hoppiness {{ beer.hoppiness }}%
                  </div>
                </div>
                <!-- break -->
                <div class="progress">
                    <div class="progress-bar progress-bar-secondary" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: {{ beer.drinkability }}%;">
                        Drinkability {{ beer.drinkability }}%
                  </div>
                </div>
                <!-- break -->
                <div class="progress">
                    <div class="progress-bar progress-bar-secondary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ beer.alldaybeer }}%;">
                        All Day Beer {{ beer.alldaybeer }}%
                  </div>
                </div>
                <!-- break -->
                <div class="progress">
                    <div class="progress-bar progress-bar-secondary" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" style="width: {{ beer.fruitiness }}%;">
                        Fruitiness {{ beer.fruitiness }}%
                  </div>
                </div>
                <!-- break -->
              </div>
            </div>
            <!-- end:skill -->
          </div>
          <!-- end:about -->
        </div>
        <!-- end:article -->
